.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.about_content {
  max-width: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}

.about_content p:first-child {
  margin-bottom: 50px;
}

.par {
  font-size: var(--font-size-b);
  line-height: var(--line-height-size-b);
}