.cart {
  position: fixed;
  padding: 5px 8px;
  top: 0;
  right: 0;
  max-width: 450px;
  width: 100%;
  height: 100vh;
  background: white;
  box-shadow: -4px 0 20px rgba(0, 0, 0, .15);
  transform: translateX(100%);
  transition: transform .35s ease;
  z-index: 200;
}

.cart_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart.open {
  transform: translateX(0);
}

.cart_form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.cart_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 32px;
}

@media (max-width: 768px) {
  .cart_form {
    gap: 16px;
  }
}