.nav_list {
  display: flex;
  gap: 10px;
}

.product_list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(462px, 1fr));
  gap: 50px 0;
}

@media (max-width: 1024px) {
  .nav_list {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  .nav_list.open {
    display: flex;
    opacity: 1;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: all;
    height: calc(100vh - 31px);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    z-index: 50;
    flex-direction: column;
    font-size: var(--font-size-b);
    line-height: var(--line-height-size-b);
    gap: 0;
  }
}

@media (width < 462px) {
  .product_list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}