.product_card.list img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product_card.list .product_info {
  padding: 0 8px;
}

.product_card.single {
  display: flex;
  width: 100%;
  padding-bottom: 100px;
}

.product_card.single .product_img, .product_card.single .product_info {
  flex: 1;
}

.product_card.single .product_img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product_card.single .product_info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.product_card.single .product_info .product_container {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  justify-content: start;
}

.product_card.cart_card .product_img img {
  width: 113px;
  height: 124px;
}

.product_card.cart_card {
  width: 100%;
  display: flex;
  gap: 8px;
}

.product_info.cart_card {
  width: 100%;
}

.product_container.cart_card {
  height: 100%;
  display: flex;
  flex-direction: column;
}


@media (max-width: 1024px) {
  .product_card.single {
    flex-direction: column;
  }

  .product_card.single .product_info .product_container {
    max-width: none;
  }

  .product_card.single .product_info {
    justify-content: start;
    align-items: start;
  }
}