.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px 8px 0 8px;
  height: 31px;
}

.logo {
  font-size: var(--font-size-b);
  font-size: var(--line-height-size-b);
}